 /**/
  /* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    height: 142px;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    text-align: center;
  }

  .accordion:after {
    content: '\02795'; 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796";
  }

  .content{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  a:link{
      text-decoration: none;
      color: black;
  }
  a:visited{
    color: black;
}

  a:hover{
      color: 86BF4C;
  }


a:active{
    color:#822433;
}
ul{
    list-style-type: none;
  margin: 0;
  padding: 0;
}


#homeimg{
    width: 100%;
    border: 0%;
    margin: 0%;
    padding: 0%
}

.box{
    display: flex;
    flex-direction: row;
}
